# Environments
venv/
venv_BACKTEST_ONLY/
.env

# Data and Large Files
*.parquet
*.csv
*.log
nifty500_5min_data/
data_parquet/
orb_strategy/data/

# Specific heavy production folders
production/common/
__pycache__/
*.pyc
